.speakers {
    position: absolute;
    top: 244px;
    left: 534px;
    font-size: 128px;
    line-height: 50px;
    font-family: 'Lao Muang Don';
    display: inline-block;
    width: 655px;
    height: 55px;
    opacity: 0.54;
}
.untitled-2-icon {
    position: absolute;
    top: 571px;
    left: 95px;
    border-radius: 63px;
    width: 289px;
    height: 311px;
    object-fit: cover;
}
.untitled-2-icon1 {
    position: absolute;
    top: 569px;
    left: 460px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon2 {
    position: absolute;
    top: 571px;
    left: 836px;
    border-radius: 63px;
    width: 289px;
    height: 311px;
    object-fit: cover;
}
.untitled-2-icon3 {
    position: absolute;
    top: 1018px;
    left: 651px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon4 {
    position: absolute;
    top: 1464px;
    left: 95px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon5 {
    position: absolute;
    top: 1464px;
    left: 483px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon6 {
    position: absolute;
    top: 1464px;
    left: 836px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon7 {
    position: absolute;
    top: 1902px;
    left: 296px;
    border-radius: 63px;
    width: 289px;
    height: 311px;
    object-fit: cover;
}
.untitled-2-icon9 {
    position: absolute;
    top: 1910px;
    left: 707px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.untitled-2-icon10 {
    position: absolute;
    top: 1015px;
    left: 272px;
    border-radius: 63px;
    width: 289px;
    height: 310px;
    object-fit: cover;
}
.nikhil-amigo {
    position: absolute;
    top: 0px;
    left: 18px;
    line-height: 50px;
    display: inline-block;
    width: 283px;
    height: 31px;
}
.co-founder-of-ghm {
    position: absolute;
    top: 45px;
    left: 0px;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    font-family: 'Microsoft YaHei UI';
    display: inline-block;
    width: 381px;
    height: 32px;
}
.nikhil-amigo-parent {
    position: absolute;
    top: 893px;
    left: 102px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-group {
    position: absolute;
    top: 1342px;
    left: 660px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-container {
    position: absolute;
    top: 1342px;
    left: 278px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo3 {
    position: absolute;
    top: 899px;
    left: 855px;
    line-height: 50px;
    display: inline-block;
    width: 283px;
    height: 31px;
}
.co-founder-of-ghm3 {
    position: absolute;
    top: 944px;
    left: 837px;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    font-family: 'Microsoft YaHei UI';
    display: inline-block;
    width: 381px;
    height: 32px;
}
.nikhil-amigo4 {
    position: absolute;
    top: 893px;
    left: 487px;
    line-height: 50px;
    display: inline-block;
    width: 283px;
    height: 31px;
}
.co-founder-of-ghm4 {
    position: absolute;
    top: 938px;
    left: 469px;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    font-family: 'Microsoft YaHei UI';
    display: inline-block;
    width: 381px;
    height: 32px;
}
.group-div {
    position: absolute;
    top: 1791px;
    left: 105px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-parent1 {
    position: absolute;
    top: 1788px;
    left: 495px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-parent2 {
    position: absolute;
    top: 1789px;
    left: 852px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-parent3 {
    position: absolute;
    top: 2233px;
    left: 305px;
    width: 381px;
    height: 77px;
}
.nikhil-amigo-parent4 {
    position: absolute;
    top: 2233px;
    left: 724px;
    width: 381px;
    height: 77px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000000;
    width: 100%;
    height: 59px;
}
.speakers3 {
    position: absolute;
    top: 2834px;
    left: 109px;
    font-weight: 300;
    display: inline-block;
    width: 116px;
    height: 25px;
    font-size: 18px;
    font-family: Inter;
}
.logo-white-1-icon {
    position: absolute;
    top: 12.98px;
    left: 23.9px;
    width: 188.7px;
    height: 33px;
    object-fit: cover;
}
.home {
    position: absolute;
    top: 20.06px;
    left: 332.25px;
    display: inline-block;
    width: 57.7px;
    height: 13px;
}
.speakers1 {
    position: absolute;
    top: 20.06px;
    left: 485.18px;
    display: inline-block;
    width: 89px;
    height: 15.9px;
    cursor: pointer;
}
.about {
    position: absolute;
    top: 19.61px;
    left: 408.07px;
    display: inline-block;
    width: 58.5px;
    height: 12.8px;
    cursor: pointer;
}
.sponsor {
    position: absolute;
    top: 20px;
    left: 591.93px;
    display: inline-block;
    width: 79.1px;
    height: 13.6px;
    cursor: pointer;
}
.contact-us {
    position: absolute;
    top: 21px;
    left: 850.08px;
    display: inline-block;
    width: 120px;
    height: 16px;
    cursor: pointer;
}
.event {
    position: absolute;
    top: 20px;
    left: 693.78px;
    display: inline-block;
    width: 71.6px;
    height: 15px;
    cursor: pointer;
}
.gallery {
    position: absolute;
    top: 17.06px;
    left: 766.39px;
    display: inline-block;
    width: 114.6px;
    height: 14.8px;
    font-size: 18px;
    background-color: transparent;
}
.group-item {
    position: absolute;
    top: 11.8px;
    left: 974.24px;
    border-radius: 19px;
    background-color: #d9d9d9;
    width: 176.4px;
    height: 35.4px;
}
.register-now {
    position: absolute;
    top: 17px;
    left: 999.33px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 200.7px;
    height: 23px;
}
.rectangle-parent {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 59px;
    font-size: 20px;
    font-family: Inter;
    background-color: #000;
    width: 100%;
}
.home1 {
    position: absolute;
    top: 2769px;
    left: 109px;
    font-size: 18px;
    font-weight: 300;
    font-family: Inter;
    display: inline-block;
    width: 71px;
    height: 25px;
}
.about1 {
    position: absolute;
    top: 2802px;
    left: 109px;
    font-size: 18px;
    font-weight: 300;
    font-family: Inter;
    display: inline-block;
    width: 116px;
    height: 25px;
}
.speakers1 {
    position: absolute;
    top: 17.06px;
    left: 485.18px;
    display: inline-block;
    width: 89px;
    height: 15.9px;
    cursor:pointer;
    font-size: 18px;
}
.sponsor1 {
    position: absolute;
    top: 2866px;
    left: 109px;
    font-size: 18px;
    font-weight: 300;
    font-family: Inter;
    display: inline-block;
    width: 116px;
    height: 25px;
}
.event1 {
    position: absolute;
    top: 2899px;
    left: 109px;
    font-size: 18px;
    font-weight: 300;
    font-family: Inter;
    display: inline-block;
    width: 116px;
    height: 25px;
}
.contact-us1 {
    position: absolute;
    top: 2932px;
    left: 109px;
    font-size: 18px;
    font-weight: 300;
    font-family: Inter;
    display: inline-block;
    width: 158px;
    height: 25px;
}
.map {
    position: absolute;
    top: 2820px;
    left: 826px;
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    display: inline-block;
    width: 114px;
    height: 43px;
}
.logo-white-2-icon {
    position: absolute;
    top: 2684px;
    left: 77px;
    width: 289px;
    height: 67px;
    object-fit: cover;
}
.contact-info {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    font-weight: 800;
    display: inline-block;
    width: 422px;
    height: 38px;
}
.guru-nanak-institutions {
    margin: 0;
}
.guru-nanak-institutions-container {
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 32px;
    display: inline-block;
    width: 423px;
    height: 47px;
}
.xxxxxx {
    position: absolute;
    top: 252px;
    left: 50px;
    display: inline-block;
    width: 288px;
    height: 47px;
}
.tedxgnigmailcom {
    position: absolute;
    top: 207px;
    left: 52px;
    color: inherit;
    display: inline-block;
    width: 246px;
    height: 31px;
    text-decoration: none;
}
.mail-icon {
    position: absolute;
    top: 206px;
    left: 3px;
    width: 30px;
    height: 29px;
}
.call-icon {
    position: absolute;
    top: 260px;
    left: 3px;
    width: 30px;
    height: 29px;
}
.distance-icon {
    position: absolute;
    top: 79px;
    left: 2px;
    width: 32px;
    height: 31px;
}
.contact-info-parent {
    position: absolute;
    top: 2684px;
    left: 646px;
    width: 473px;
    height: 299px;
    font-size: 24px;
    font-family: Inter;
}
.copyrights-2024-tedx-container {
    position: absolute;
    top: 3023px;
    left: -99px;
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    display: inline-block;
    width: 1399px;
    height: 58px;
}
.speaker-page-1 {
    width: 100%;
    position: relative;
    background-color: #030000;
    height: 3078px;
    text-align: left;
    font-size: 38px;
    color: #fff;
    font-family: 'Microsoft Tai Le';
}

body {
    margin: 0;
    line-height: normal;
    }

.home2 {
        position: absolute;
        top: 17.06px;
        left: 332.25px;
        display: inline-block;
        width: 57.7px;
        height: 13px;
        font-size: 18px;
    }

.about2 {
        position: absolute;
        top: 17.06px;
        left: 408.07px;
        display: inline-block;
        width: 58.5px;
        height: 12.8px;
        cursor: pointer;
        font-size: 18px;
    }
.sponsor2 {
        position: absolute;
        top: 17.06px;
        left: 591.93px;
        display: inline-block;
        width: 79.1px;
        height: 13.6px;
        cursor: pointer;
        font-size: 18px;
    }
.event2 {
        position: absolute;
        top: 17.06px;
        left: 693.78px;
        display: inline-block;
        width: 71.6px;
        height: 15px;
        cursor: pointer;
        font-size: 18px;
    }
.contact-us2 {
        position: absolute;
        top: 17.06px;
        left: 850.08px;
        display: inline-block;
        width: 120px;
        height: 16px;
        cursor: pointer;
        font-size: 18px
    }

    .button {
        cursor: pointer;
        position: relative;
        bottom: 5px;
        padding: 10px 24px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(237, 18, 18);
        border-radius: 34px;
        background-color: transparent;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
        overflow: hidden;
      }
      
      .button::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: rgb(255, 255, 255);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .button:hover::before {
        scale: 3;
      }
      
      .button:hover {
        color: #c41515;
        scale: 1.1;
        box-shadow: 0 0px 22px rgba(255, 255, 255, 0.4);
      }
      
      .button:active {
        scale: 2;
      }
    
a{
    color: white;
    text-decoration: none;
    
    }
a:hover{
    text-decoration: overline;
    text-decoration-color: #eb0028;
    font-size: 20px;;
}

*{
    padding: 0px;
    margin: 0p;
}